@charset "UTF-8";

/* リンクの下の線消すやつ */
a {
  text-decoration: none;
}

body {
  background-color: #fdfdfd;
}

/* top_title */

.top_text{
  margin: 0 20%;
  padding-top: 20%;
  animation-name: fadein;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
@keyframes fadein {
from {
  opacity: 0;
  transform: translateX(-20px);
}
to {
  opacity: 1;
  transform: translateX(0);
}
}

.title {
  font-size: 3rem;
  color: #000;
  text-align: left;
  font-family: 'Gilroy', sans-serif;
}
.about_text {
  margin: 10px;
  font-size: 1rem;
  color: #000;
  text-align: left;
  font-family: 'Gilroy', sans-serif;
}

.main-nav {
  display: flex;
  font-size: 1.25rem;
  font-family: 'Gilroy', sans-serif;
  font-weight: bold;
  margin-top: 2vh;
  list-style: none;
}
.main-nav li {
  margin-left: 36px;

}
.main-nav a {
  color: #000;
  transition: color 0.3s;
}
.main-nav a:hover {
  color: #A77DC2;
}

.copylight {
  position: fixed;
  top: 90%;
  right: 5%;
  animation-name: fadein;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
  @keyframes fadein {
  from {
    opacity: 0;
    transform: translateX(-20px);
}
  to {
    opacity: 1;
    transform: translateX(0);
}
}

.copy {
    font-size: 0.75rem;
    font-family: 'Gilroy', sans-serif;
    font-weight: normal;
    color: #1a1a1a;
}
