@charset "UTF-8";

a {
  text-decoration: none;
}

.mar_site {
  margin: 10%
}
.title {
  font-size: 50px;
  font-family: 'Lato', sans-serif;
  color: #333;
  transition: all 300ms 0s ease;
  margin-bottom: 20px;
}
.title:hover {
  color: #0bd;
}
.box {
  width: 300px;
  height: 2px;
  margin: 10%;
  background: #333;
  transition: all 300ms 0s ease;
}
.box:hover {
  background: #0bd;
  width: 500px;
}
.main-nav {
  display: flex;
  font-size: 1.25rem;
  font-family: 'Raleway', sans-serif;
  margin-top: 2vh;
  list-style: none;
}
.main-nav li {
  margin-left: 36px;
}
.main-nav a {
  color: #333;
  transition: all 300ms 0s ease;
}
.main-nav a:hover{
  color: #00adb5;
}
 footer {
  margin: 10%;
  margin-top: 10rem;

 }
.copy {
  padding: 100px;
  color: #333;
  font-family: 'Raleway', sans-serif;
  text-align: right;
}
