@charset "UTF-8";

/* リンクの下の線消すやつ */
a {
  text-decoration: none;
}

body {
  background-color: #fdfdfd;
}

/* top_title */

.title {
  font-size: 2rem;
  color: #000;
  text-align: left;
  font-family: 'Gilroy', sans-serif;
}

.top_text{
  margin: 0 20%;
  padding-top: 10%;
  animation-name: fadein;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
@keyframes fadein {
from {
  opacity: 0;
  transform: translateX(-20px);
}
to {
  opacity: 1;
  transform: translateX(0);
}
}
.menu {
  padding-top: 1px;
}

.line {
  width: 100px;
  height: 1px;
  background-color: #000;
  margin-top: 12.5px;
}

.main-nav {
  display: flex;
  font-size: 1.25rem;
  font-family: 'Gilroy', sans-serif;
  font-weight: bold;
  margin-top: 2vh;
  margin-top: 25px;
  list-style: none;
}
.main-nav li {
  margin-left: 50px;
}
.main-nav a {
  color: #000;
  transition: color 0.3s;
}
.main-nav a:hover{
  color: #A77DC2;
}


.works_text {
  margin: 25px;
  font-size: 1.5rem;
}
.tumblr_text {
  color: #000;
  margin: 25px;
  padding-left: 25px;
  font-size: 1rem;
  transition: color 0.3s;
}
.tumblr_text:hover {
  color: #A77DC2;
}

p {
  font-family: "Yu Gothic","ヒラギノ角ゴ Pro W3", sans-serif;
  font-weight: 400;
}

footer{
    text-align: center;
    margin: 10% 20%;
    position: absolute;/*←絶対位置*/
    bottom: 0; /*下に固定*/
    animation-name: fadein;
    animation-duration: 2s;
    animation-iteration-count: 1;
  }
  @keyframes fadein {
  from {
    opacity: 0;
    transform: translateX(-20px);
}
  to {
    opacity: 1;
    transform: translateX(0);
}
}

.copylight {
  position: fixed;
  top: 90%;
  right: 5%;
  animation-name: fadein;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
  @keyframes fadein {
  from {
    opacity: 0;
    transform: translateX(-20px);
}
  to {
    opacity: 1;
    transform: translateX(0);
}
}

.copy {
    font-size: 0.75rem;
    font-family: 'Gilroy', sans-serif;
    font-weight: normal;
    color: #1a1a1a;
}
